body {
    background: linear-gradient(#b3e5ff, #ffffff);
    margin: 0;
    font-family: Verdana;
    color: #3e5764;
}

header {
    background-color: #dadada;
    color: rgb(190, 0, 0);
    text-align: center;
    padding: 25px;
}

.info {
    padding: 20px;
}

ul li {
    margin-bottom: 7px;
}

img {
    width: 350px;
    display: block;
    margin-top: 10px;
    border-radius: 10px;
}

button {
    padding: 12px;
    background-color: #1f0000;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #704646;
}

footer {
    margin-top: 30px;
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
}
